# Import

In [1]:
import numpy as np
import pandas as pd
import scanpy as sc

In [2]:
sc.settings.verbosity = 3             # verbosity: errors (0), warnings (1), info (2), hints (3)
sc.logging.print_header()
sc.settings.set_figure_params(dpi=80, facecolor='white')

scanpy==1.6.0 anndata==0.7.4 umap==0.4.6 numpy==1.19.2 scipy==1.5.2 pandas==1.2.4 scikit-learn==0.23.2 statsmodels==0.11.1 python-igraph==0.8.3 leidenalg==0.8.2

# Parameters

In [3]:
# This parameters cell will be overridden by values specified at execution time.
path_raw_adata = "../test/test.raw.h5ad"
path_filtered_adata = "../test/test.filtered.h5ad"

# Load

In [4]:
adata_raw = sc.read_h5ad(path_raw_adata)

Variable names are not unique. To make them unique, call `.var_names_make_unique`.

In [5]:
adata_raw

AnnData object with n_obs × n_vars = 5941 × 1347
    layers: 'read_counts'

In [6]:
adata_filtered = sc.read_h5ad(path_filtered_adata)

In [7]:
adata_filtered

AnnData object with n_obs × n_vars = 1087 × 1320

In [8]:
adata_filtered.obs

Empty DataFrame
Columns: []
Index: [120703436113835, 120703436351717, 120726897253220, 120769892956524, 120778570709861, 120786772708766, 120786785585382, 120847156329782, 120847183865635, 120850243079029, 120864470153077, 120864470846774, 120864517020020, 121184472749869, 121184472917750, 121184473206067, 121184491563892, 121254253808870, 121322602150118, 121338689382621, 121390228196206, 121390228461875, 121390247078133, 121399087085469, 121405233388765, 121405260549478, 121408857455526, 121408904150365, 121416401508645, 121731934448436, 121735006239142, 121735052913565, 121735053163244, 121748858460085, 121751112403749, 121802832366365, 121829764483819, 121829792017259, 121869136681755, 121886404209461, 121886431721846, 121887343459556, 121887343696174, 121887389866844, 121889787402534, 121889806276452, 121940405509549, 121946427057907, 121963862219045, 121963862473526, 121963875067766, 122283716361118, 122307606604518, 122352288786660, 122369602599790, 122369615711526, 122378446060963, 122378473327350, 122379432324395, 122444884397294, 122444899071790, 122444930730726, 122487982413732, 122487982902005, 122487995525548, 122490813900636, 122499672722739, 122505040718190, 122505060280734, 125050586880308, 125102575250158, 125127896251819, 125127923547486, 125168041999203, 125236613364981, 125257147968806, 125583592897334, 125583593461685, 125583612308844, 125744627017957, 125744641629422, 125745297800542, 125745298258867, 125746505768347, 125786529905509, 125804803143918, 126150279322404, 126150279555868, 126201906809268, 126201952877404, 126201953414068, 126216026634982, 126224455658283, 126224469965548, 126224483072806, 126227570092907, 126268613217189, 126268640454900, 126278169487726, 126278188584347, ...]

[1087 rows x 0 columns]

In [9]:
adata_filtered.var

Empty DataFrame
Columns: []
Index: [ARHGAP33, UPF1, SPPL2B, C19ORF60, TBXA2R, PAF1, MARK4, CCDC124, CEACAM21, TRAPPC6A, MATK, MPND, NFIX, GIPR, FUZ, APBA3, AKAP8L, PTBP1, PLAUR, WIZ, QPCTL, PPP5C, ZBTB32, TYROBP, ERCC1, CD22, PSMC4, ZNF582, NLRP2, POU2F2, RANBP3, PNPLA6, MRI1, PNKP, AP2S1, HOMER3, USE1, GNA15, SLC6A16, GLTSCR1, SPHK2, RPL18, CA11, ISOC2, U2AF2, EPN1, MED29, RFXANK, TMEM161A, LPAR2, SUGP2, CNN2, ABCA7, SBNO2, HMG20B, AP3D1, WDR18, TLE2, PDE4A, ELAVL1, SIRT2, BCL3, FGF22, FSTL3, RNF126, TCF3, DAZAP1, MBD3, PRKACA, ADGRL1, TMEM38A, AP1M1, PVR, XRCC1, TEAD2, MYDGF, ANO8, WDR62, GPATCH1, ICAM3, XAB2, ARHGEF1, STXBP2, MAP2K7, SNRPA, EXOSC5, SIRT6, REXO1, CEACAM1, CIC, LIPE, PAFAH1B3, DNM2, KEAP1, ZNF506, SLC27A5, ZNF324, ZNF671, ZNF586, ZNF446, ...]

[1320 rows x 0 columns]