In [1]:
import scanpy as sc
import pandas as pd
import scipy.io
import os

# Parameters

In [2]:
# This parameters cell will be overridden by values specified at execution time.
path_data = "../test"
path_out = "../test"
sample_name = "test"

In [3]:
!ls $path_data

test.doublet-score.pickle       test_sparse_counts_barcodes.csv
test.doublets.pickle            test_sparse_counts_genes.csv
test.filtered.h5ad              test_sparse_molecule_counts.mtx
test.raw.h5ad                   test_sparse_read_counts.mtx
test_dense.csv

# Dense Count Matrix

## Load

In [4]:
df_dense = pd.read_csv(
    os.path.join(path_data, sample_name + "_dense.csv"),
    index_col=0
)
df_dense

,CLUSTER,ARHGAP33,UPF1,SPPL2B,C19ORF60,TBXA2R,PAF1,MARK4,CCDC124,CEACAM21,...,AC026803.1,METAZOA_SRP.6,SEPT14P19,CTD-3113P16.11,LLNLF-173C4.2,WASH5P,LINC01002,AC008993.2,BISPR,LLNLR-245B6.1
120703436113835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120703436351717,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120726897253220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120769892956524,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120778570709861,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240695043287403,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241030031863077,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241038756308851,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
241038775465902,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241184489491892,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Drop the CLUSTER Column

In [5]:
df_dense.drop(columns=["CLUSTER"], inplace=True)

In [6]:
df_dense

,ARHGAP33,UPF1,SPPL2B,C19ORF60,TBXA2R,PAF1,MARK4,CCDC124,CEACAM21,TRAPPC6A,...,AC026803.1,METAZOA_SRP.6,SEPT14P19,CTD-3113P16.11,LLNLF-173C4.2,WASH5P,LINC01002,AC008993.2,BISPR,LLNLR-245B6.1
120703436113835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120703436351717,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120726897253220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120769892956524,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120778570709861,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240695043287403,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241030031863077,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241038756308851,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
241038775465902,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241184489491892,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Convert to AnnData

In [7]:
df_dense.index = df_dense.index.astype(str)

In [8]:
adata_filtered = sc.AnnData(df_dense)

In [9]:
adata_filtered

AnnData object with n_obs × n_vars = 1087 × 1320

In [10]:
adata_filtered.var

Empty DataFrame
Columns: []
Index: [ARHGAP33, UPF1, SPPL2B, C19ORF60, TBXA2R, PAF1, MARK4, CCDC124, CEACAM21, TRAPPC6A, MATK, MPND, NFIX, GIPR, FUZ, APBA3, AKAP8L, PTBP1, PLAUR, WIZ, QPCTL, PPP5C, ZBTB32, TYROBP, ERCC1, CD22, PSMC4, ZNF582, NLRP2, POU2F2, RANBP3, PNPLA6, MRI1, PNKP, AP2S1, HOMER3, USE1, GNA15, SLC6A16, GLTSCR1, SPHK2, RPL18, CA11, ISOC2, U2AF2, EPN1, MED29, RFXANK, TMEM161A, LPAR2, SUGP2, CNN2, ABCA7, SBNO2, HMG20B, AP3D1, WDR18, TLE2, PDE4A, ELAVL1, SIRT2, BCL3, FGF22, FSTL3, RNF126, TCF3, DAZAP1, MBD3, PRKACA, ADGRL1, TMEM38A, AP1M1, PVR, XRCC1, TEAD2, MYDGF, ANO8, WDR62, GPATCH1, ICAM3, XAB2, ARHGEF1, STXBP2, MAP2K7, SNRPA, EXOSC5, SIRT6, REXO1, CEACAM1, CIC, LIPE, PAFAH1B3, DNM2, KEAP1, ZNF506, SLC27A5, ZNF324, ZNF671, ZNF586, ZNF446, ...]

[1320 rows x 0 columns]

In [11]:
adata_filtered.obs

Empty DataFrame
Columns: []
Index: [120703436113835, 120703436351717, 120726897253220, 120769892956524, 120778570709861, 120786772708766, 120786785585382, 120847156329782, 120847183865635, 120850243079029, 120864470153077, 120864470846774, 120864517020020, 121184472749869, 121184472917750, 121184473206067, 121184491563892, 121254253808870, 121322602150118, 121338689382621, 121390228196206, 121390228461875, 121390247078133, 121399087085469, 121405233388765, 121405260549478, 121408857455526, 121408904150365, 121416401508645, 121731934448436, 121735006239142, 121735052913565, 121735053163244, 121748858460085, 121751112403749, 121802832366365, 121829764483819, 121829792017259, 121869136681755, 121886404209461, 121886431721846, 121887343459556, 121887343696174, 121887389866844, 121889787402534, 121889806276452, 121940405509549, 121946427057907, 121963862219045, 121963862473526, 121963875067766, 122283716361118, 122307606604518, 122352288786660, 122369602599790, 122369615711526, 122378446060963, 122378473327350, 122379432324395, 122444884397294, 122444899071790, 122444930730726, 122487982413732, 122487982902005, 122487995525548, 122490813900636, 122499672722739, 122505040718190, 122505060280734, 125050586880308, 125102575250158, 125127896251819, 125127923547486, 125168041999203, 125236613364981, 125257147968806, 125583592897334, 125583593461685, 125583612308844, 125744627017957, 125744641629422, 125745297800542, 125745298258867, 125746505768347, 125786529905509, 125804803143918, 126150279322404, 126150279555868, 126201906809268, 126201952877404, 126201953414068, 126216026634982, 126224455658283, 126224469965548, 126224483072806, 126227570092907, 126268613217189, 126268640454900, 126278169487726, 126278188584347, ...]

[1087 rows x 0 columns]

In [12]:
print("FILTERED", adata_filtered)

FILTERED AnnData object with n_obs × n_vars = 1087 × 1320

## Write to Disk

In [13]:
adata_filtered.write_h5ad(
    os.path.join(path_out, sample_name + ".filtered.h5ad")
)

# Sparse Count Matrix

## Load

In [14]:
mol_counts = scipy.io.mmread(os.path.join(path_data, sample_name + "_sparse_molecule_counts.mtx"))

In [15]:
mol_counts

<5941x1347 sparse matrix of type '<class 'numpy.int64'>'
	with 64426 stored elements in COOrdinate format>

In [16]:
# currently not being used
read_counts = scipy.io.mmread(os.path.join(path_data, sample_name + "_sparse_read_counts.mtx"))

In [17]:
read_counts

<5941x1347 sparse matrix of type '<class 'numpy.int64'>'
	with 64426 stored elements in COOrdinate format>

In [18]:
features = pd.read_csv(os.path.join(path_data, sample_name + "_sparse_counts_genes.csv"), index_col=0, header=None)[1].values
features

array(['ARHGAP33', 'UPF1', 'SPPL2B', ..., 'AC008993.2', 'BISPR',
       'LLNLR-245B6.1'], dtype=object)

In [19]:
barcodes = pd.read_csv(
    os.path.join(path_data, sample_name + "_sparse_counts_barcodes.csv"),
    index_col=0,
    header=None
)[1].values.astype(str)
barcodes

array(['120703424092390', '120703436056350', '120703436113835', ...,
       '241184490047774', '241184504207219', '241184535430878'],
      dtype='<U21')

## Convert to AnnData

In [20]:
# .X contains molecule counts
adata_raw = sc.AnnData(mol_counts.todense())

In [21]:
adata_raw.obs_names = barcodes
adata_raw.var_names = features

In [22]:
adata_raw

AnnData object with n_obs × n_vars = 5941 × 1347

In [23]:
adata_raw.obs

Empty DataFrame
Columns: []
Index: [120703424092390, 120703436056350, 120703436113835, 120703436319462, 120703436351717, 120703436602715, 120718441692083, 120718487374123, 120726897253220, 120726897474341, 120726897679197, 120726897703149, 120726897739493, 120726912390965, 120728790649708, 120728803760348, 120728804084517, 120728822365484, 120728822435123, 120728822659803, 120729983937453, 120730011786139, 120730030664413, 120769846562027, 120769846663923, 120769847151854, 120769874094827, 120769874192614, 120769892764523, 120769892956524, 120769893022580, 120778570709861, 120778598299436, 120778598505692, 120778598856485, 120778616858524, 120778617411363, 120781389317878, 120781389904606, 120781390134188, 120781417073573, 120781435750707, 120786758354741, 120786772708766, 120786773461726, 120786785585382, 120786804422508, 120788101056310, 120788114886046, 120788128316828, 120788146343212, 120788146666844, 120847156042676, 120847156307702, 120847156329782, 120847156337052, 120847170918134, 120847171213110, 120847171534133, 120847183865635, 120847202176357, 120847202213092, 120847202901341, 120849035802411, 120849062288229, 120849081261284, 120850243016541, 120850243079029, 120850243086197, 120850243546013, 120850243599646, 120850258189611, 120850258220827, 120850258282405, 120850270316851, 120850271090461, 120856566000868, 120856566414046, 120864470153077, 120864470846774, 120864485071262, 120864485371187, 120864516524764, 120864517020020, 121184445943020, 121184472481118, 121184472749869, 121184472917750, 121184473206067, 121184491563892, 121184492051237, 121254238608813, 121254238866284, 121254253808870, 121254266203380, 121254266394341, 121254285297397, 121322555686126, 121322582502691, 121322602150118, ...]

[5941 rows x 0 columns]

In [24]:
adata_raw.var

Empty DataFrame
Columns: []
Index: [ARHGAP33, UPF1, SPPL2B, C19ORF60, TBXA2R, PAF1, MARK4, CCDC124, CEACAM21, TRAPPC6A, MATK, MPND, NFIX, GIPR, FUZ, APBA3, AKAP8L, PTBP1, PLAUR, WIZ, QPCTL, PPP5C, ZBTB32, TYROBP, ERCC1, CD22, PSMC4, ZNF582, NLRP2, POU2F2, RANBP3, PNPLA6, MRI1, PNKP, AP2S1, HOMER3, USE1, GNA15, SLC6A16, GLTSCR1, SPHK2, RPL18, CA11, ISOC2, U2AF2, EPN1, MED29, RFXANK, TMEM161A, LPAR2, SUGP2, CNN2, ABCA7, SBNO2, HMG20B, AP3D1, WDR18, TLE2, PDE4A, ELAVL1, SIRT2, BCL3, FGF22, FSTL3, RNF126, TCF3, DAZAP1, MBD3, PRKACA, ADGRL1, TMEM38A, AP1M1, PVR, XRCC1, TEAD2, MYDGF, ANO8, WDR62, GPATCH1, ICAM3, XAB2, ARHGEF1, STXBP2, MAP2K7, SNRPA, EXOSC5, SIRT6, REXO1, CEACAM1, CIC, LIPE, PAFAH1B3, DNM2, KEAP1, ZNF506, SLC27A5, ZNF324, ZNF671, ZNF586, ZNF446, ...]

[1347 rows x 0 columns]

In [25]:
# molecule counts
adata_raw.X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [26]:
print("RAW", adata_raw)

RAW AnnData object with n_obs × n_vars = 5941 × 1347

## Write to Disk

In [27]:
adata_raw.write_h5ad(
    os.path.join(path_out, sample_name + ".raw.h5ad")
)